* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
    height: 1200px;
    height: 750px;
}

#Titulo{
    font-size: 40px;
    color: #000;
}

#barra{
    list-style: none;
    text-align: center;
    margin: 1rem
}

#encabezado{
    color: #BADA55;
    background-color: #B58A69;
    display: grid;
    place-items: center;
}

#texto-encabezado{
        color: #BADA55;
        font-size: 40px;
}

a:hover {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    color: red;
    font-size: 18px;
}

#boton {
    border: none;
    background-color: #5E5E4A;
    padding: 10px 30px;
    margin: 10px;
    margin-left: 110px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}

#contenedor{
    background-color: #DEE5DE;
    margin: auto 50px auto 50px;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

#bg-img {
    background-color: #DEE5DE;
    margin: auto 50px auto 50px;
}

#contenedor-aside{
    background-color: #D7D7CB;
    display: grid;
    place-items: center;
    margin: auto 50px auto 50px;
}

#img{
    margin: 10px;
    width: 340px;
    height: 190px;
}

#contenedor-aside{
    text-align: center;
    background-color: #D7D7CB;
}

#texto{
    text-align: justify;
    color: #000;
    font-size: 20px;
    margin: 10px;
}

#pie{
        background-color: #5E5E4A;
        display: grid;
        place-items: center;
        margin: auto 50px auto 50px;
}

#texto-pie{
    color: #E8E6E6;
    font-size: 14px;
    padding: 10px;
}

@media(min-width:650px) {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
}